<div class="zero"> 
	<hg1><a href="http://raagadhar.heroku.com">Raagadhar</a></hg1>
</div> 
<% @raaga_json.each do |result| %>
	<div class="row">
	<h2> Raaga <%=result["_source"]["name"]%></h2></br>
	<h4> <%=result["_source"]["Information"]%></h4></br>
		<table class="table table-bordered table-striped">
	        <tbody>
	         	<% result["_source"].each do |k,v| %>
	         	<% if k!="url" and k!="name" and k!="Information"%>
	         	<tr>
	         		<td><a href="/define/<%=k%>"><%=k%></a></td>
	         		<td><%=v%></td>
	         	</tr>
	         	<% end %>
	         	<% end %>
	        </tbody>
		</table>
	</div>
	<div class="row">
		<div class="span 6">
			<% if @spotifylist!=nil || @spotifylist=="" %>
			<h2> On Spotify</h2></br>
				<iframe src=<%=@spotifylist%> width="400" height="380" frameborder="0" allowtransparency="true"></iframe>
			<% end %>
		</div>
	</div>
<% end %>
