<div class="zero"> 
	<hg1><a href="http://raagadhar.com">Raagadhar</a></hg1>
</div> 
<% @raaga_json.each do |result| %>
<div class="row">
	</br><h2> Raaga <%=result["_source"]["name"]%></h2></br>
	<div class="span6">
		<% if @spotifylist!=nil || @spotifylist=="" %>
		<h2>On Spotify</h2></br>
			<iframe src=<%=@spotifylist%> align="left"width="400" height="380" frameborder="0" allowtransparency="true"></iframe>
		<% end %>
	</div>
	<div class="span6">
		<h2>On Youtube</h2></br>
			<iframe class="youtube-player" align="left" type="text/html" width="440" height="380" src="http://www.youtube.com/embed?listType=search&list=raga <%=result["_source"]["name"]%>" frameborder="0">
			</iframe>
	</div>
</div>
	<div class="row">
	</br></br>
	<p> <%=result["_source"]["Information"].gsub("â","'").gsub("Â","'") if result["_source"]["Information"]%></p></br>
		<table class="table table-bordered table-striped">
	        <tbody>
	         	<% result["_source"].each do |k,v| %>
	         	<% if k!="url" and k!="name" and k!="Information"%>
	         	<tr>
	         		<td><a href="/define/<%=k%>"><%=k%></a></td>
	         		<% if v.kind_of?(Array) %>
	         			<td><%=v.join(' ').gsub("â","\"").gsub("Â","'")%></td>
	         		<% else %>
	         			<td><%=v.gsub("â","\"").gsub("Â","'")%></td>
	         		<% end %>
	         	</tr>
	         	<% end %>
	         	<% end %>
	        </tbody>
		</table>
	</div>
<% end %>